.goal-list li {
  padding: 0.5rem;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s;
}

.goal-list li.completed {
  text-decoration: line-through;
  color: rgb(128, 128, 128);
}

.goal-list li:hover {
  background-color: #f0f0f0;
}